# Environment virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Berkas PDF hasil test / pengguna
*.pdf
!tests/**/*.pdf

# Output aplikasi
*.log

# Output build
build/
dist/
*.spec.bak

# Icon turunan hasil build Windows
assets/icon.ico

# Berkas paket
*.deb
*.exe
